.login {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #fdfdfd;
}

.form-input-material input {
  color: #000000;
}

.errors {
  color: red;
}
.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 4rem;
  color: white;
  background: rgb(40, 40, 40);
  border-radius: 10px;
  box-shadow: 0 0.4px 0.4px rgba(128, 128, 128, 0.109),
    0 1px 1px rgba(128, 128, 128, 0.155),
    0 2.1px 2.1px rgba(128, 128, 128, 0.195),
    0 4.4px 4.4px rgba(128, 128, 128, 0.241),
    0 12px 12px rgba(128, 128, 128, 0.35);
}

.login-form h1 {
  color: var(--text-secondary);
}

.form-input-material input {
  display: flex;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  color: inherit;
  font-family: inherit;
  padding: 0.8em 0 10px 0.8em;
  border: 1px solid var(--gray-400);
  border-radius: 2px;
  outline: 0;
  margin: 0 0 0.8em 0;
  padding-right: 2em;
  width: 100%;
}

.help-text a {
  text-decoration: none;
  color: var(--fg-secondary);
}

.btn {
  padding: 16px 42px;
  border: none;
  line-height: 1.25;
  background: #658047;
  text-decoration: none;
  border-radius: 7px;
  color: white;
  font-size: 16px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  position: relative;
  transition: background-color 0.6s ease;
  overflow: hidden;
}

.btn:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
  transform-style: flat;
  transform: translate3d(-50%, -50%, 0);
  background: white;
  border-radius: 100%;
  transition: width 0.3s ease, height 0.3s ease;
}
.btn:focus,
.btn:hover {
  background: #689f38;
}
