{% extends 'default/master.html' %} {% block head %}<link
  href="/static/css/form.css"
  rel="stylesheet"
  type="text/css"
/>
{% endblock %} {% block content %}

<div class="login">
  <div class="container">
    {% from "shared/_formhelpers.html" import render_field %}
    <form method="post" action="/createuser" class="login-form">
      <h2>Sign up</h2>

      <dl>
        <div class="form-input-material">{{ render_field(form.email) }}</div>

        <div class="form-input-material">{{ render_field(form.password) }}</div>
        <div class="form-input-material">
          {{ render_field(form.password2) }}
        </div>
      </dl>
      {% if error %}
      <p class="errors"><strong>{{ error }}</strong></p>
      {% endif %}
      <input class="btn" type="submit" value="Register" />
      <div class="help-text">
        <p>Have an account? <a href="/login">Log in</a></p>
        <p><a href="">Terms of service</a></p>
      </div>
    </form>
  </div>
</div>
{% endblock %}
