{% extends 'default/master.html' %} {% block head %}
<script src="/static/js/dashboard.js"></script>
{% endblock %} {% block content %}
<div class="text-area">
  <p id="id">{{ data.id }}</p>
  <p id="temperature">{{ data.temperature }}</p>
  <p id="light">{{ data.light }}</p>
  <p id="humidity">{{ data.humidity }}</p>
  <p id="heat_index">{{ data.heat_index }}</p>
  <p id="ground_temperature">{{ data.ground_temperature }}</p>
  <p id="timestamp">{{ data.timestamp }}</p>
  <p id="microcontroller_id">{{ data.microcontroller_id }}</p>
  <p id="microcontroller_user_id">{{ data.microcontroller_user_id }}</p>

</div>
{% endblock %}
