{% extends 'default/master.html' %} {%block head %}
<link href="/static/css/index.css" rel="stylesheet" type="text/css" />
{% endblock %} {% block content %}
<div class="container">
  <div class="text-area">
    <h2>Welcome to GrowBox Inc.</h2>
    <h3>Where you can grow your personal supply of fresh greens.</h3>
    <p>Check your devices below</p>
  </div>
</div>
<div class="devices">
  <a class="device" href="/dashboard">
    <h1>Device 1</h1>
    <div class="detail">
      <div class="status">
        <strong>Status: </strong>
        <p class="status-good">Online</p>
      </div>
      <div class="status">
        <strong>Connection: </strong>
        <p class="status-fair">Fair</p>
      </div>
    </div>
  </a>
  <a class="add-device" disabled>Add a device</a>
</div>
{% endblock %}
