{% extends 'default/master.html' %} {%block head %}
<link href="/static/css/index.css" rel="stylesheet" type="text/css" />
{% endblock %} {% block content %}
<div class="container">
  <div class="text-area">
    <h2>Welcome to GrowBox Inc.</h2>
    <h3>
      Where your personal Greenhouse Climate Monitoring & Control System is
      realized.
    </h3>
    <p>Check your devices by pressing the button below</p>
    <button>Check your devices by pressing the button below</button>
  </div>
</div>
{% endblock %}
